body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr 1fr auto;
    gap: 10px;
    width: 100%;
    height: 100vh;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(148, 145, 107, 0.1);
    box-sizing: border-box;
}

.header,.nav, .subheader-left, .subheader-right, .content-left, .content-left-1, .content-left-2, .content-right, .footer {
    background-color: #ddd;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(148, 145, 107, 0.1);
}

.header {
    grid-column: span 2;
    height: 5vh;
}

.nav{
    grid-column: span 2;
    height: 5vh;
    position:sticky;
    top: 0;
}

.subheader-left, .subheader-right {
    height: 8vh;
}

.subheader-left {
    grid-column: 1 / 2;
}

.subheader-right {
    grid-column: 2 / 3;
}

.content-left {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(148, 145, 107, 0.1);
    background-color: yellow;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}




.small-block {
    background-color: rgb(139, 239, 175);
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.content-left-1 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.content-left-2 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.content-right {
    grid-column: 2 / 3;
    grid-row: 3 / 6;
}

.content-right-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(148, 145, 107, 0.1);
    background-color: yellow;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    background-color: yellowgreen;
    height: 90%;
    width: 100%;
    text-align: left;
}

.main-block {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #ccc;
  }
  
  
  .main-block:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
    background-color: #f6d365; 
  }
  
  .main-block:nth-child(2) {
    grid-column: span 2;
    grid-row: span 1;
    background-color: #96e6a1; 
  }
  
  .main-block:nth-child(3) {
    grid-column: span 1;
    grid-row: span 2;
    background-color: #f6d365; 
  }
  
  .main-block:nth-child(4) {
    grid-column: span 1;
    grid-row: span 2;
    background-color: #f38181; 
  }
  
  .main-block:nth-child(5),
  .main-block:nth-child(6),
  .main-block:nth-child(7),
  .main-block:nth-child(8),
  .main-block:nth-child(9),
  .main-block:nth-child(10) {
    grid-column: span 1;
    grid-row: span 1;
    background-color: #96e6a1; 
  }

.footer {
    grid-column: span 2;
    height: 5vh;
    position:sticky;
    bottom: 0;
}
